<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567406708541-gc5bb8rvrc02bk9f6logkloanrststkr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567406708541-gc5bb8rvrc02bk9f6logkloanrststkr</string>
	<key>API_KEY</key>
	<string>AIzaSyA3cfBupajlsYwIscetv0ZrqrUMmyv0cII</string>
	<key>GCM_SENDER_ID</key>
	<string>567406708541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieApp</string>
	<key>PROJECT_ID</key>
	<string>movie-database-6d2a5</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-database-6d2a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567406708541:ios:1fc792f1afd2912310a754</string>
</dict>
</plist>